
<ul>
  <li><a href="#home">Computer & Laptop</a></li>
  <li><a href="#news">printers</a></li>
  <li><a href="#contact">Mobiles and Tablets</a></li>
  <li><a href="#about">Mobile accessories</a></li>
  <li><a href="#home">Computer accessories</a></li>
  <li><a href="#news">Speakers & Sound system</a></li>
  <li><a href="#contact">surveillance system</a></li>
  <li><a href="#about">Networks & accessories</a></li>
  <li><a href="#news">Cameras & accessories</a></li>
  <li><a href="#contact">Storage & memory</a></li>
  <li><a href="#about">Games</a></li>
</ul>