<div class="card" style="width: 20rem;">
    <img class="card-img-top" src="assets/image/15.jpg" alt="Card image cap">
    <div class="card-body">
      <h6 class="card-title">Maintenance and programming</h6>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
  <div class="card" style="width: 20rem;">
    <img class="card-img-top" src="assets/image/16.jpg" alt="Card image cap">
    <div class="card-body">
      <h6 class="card-title">Electrical and electronic devices</h6>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
  <div class="card" style="width: 20rem;">
    <img class="card-img-top" src="assets/image/17.jpg" alt="Card image cap">
    <div class="card-body">
      <h6 class="card-title">Extensions and installation</h6>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
  <div class="card" style="width: 20rem;">
    <img class="card-img-top" src="assets/image/18.jpg" alt="Card image cap">
    <div class="card-body">
      <h6 class="card-title">Thermal printers</h6>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
  <div class="card" style="width: 20rem;">
    <img class="card-img-top" src="assets/image/21.jpg" alt="Card image cap">
    <div class="card-body">
      <h6 class="card-title">Engineer design</h6>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
  <div class="card" style="width: 20rem;">
    <img class="card-img-top" src="assets/image/20.jpg" alt="Card image cap">
    <div class="card-body">
      <h6 class="card-title">Engineer express</h6>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>