nav{
    color: rgb(0,255, 0);
    

}
.aa{
    margin-left: 145px;
    color:black;
}
h2{
    display: inline-flex;

color: white;
margin-top: 27px;
margin-left:-50px;
}
li{display:inline-flex;}
.a{
    display: block;
}