<div class="cards">
    <div class="card" style="width: 13rem;">
        <img class="card-img-top" src="assets/card/1.jpg" alt="Card image cap">
        <div class="card-body">
          <p class="card-text e"><b>TP-Link Modem Router VDSL/ADSL 300MB TD-W9960</b></p>
          <h3 class="card-text t"><b>200 ₪</b></h3>
        </div>
      </div>
      <div class="card" style="width: 13rem;">
        <img class="card-img-top" src="assets/card/2.jpg" alt="Card image cap">
        <div class="card-body">
          <p class="card-text  e"><b>Asus X515EP-BQ256 i7-1165G7 8G 512G</b></p>
          <h3 class="card-text t"><b>1500 ₪</b></h3>
        </div>
      </div>
      <div class="card" style="width: 13rem;">
        <img class="card-img-top" src="assets/card/3.jpg" alt="Card image cap">
        <div class="card-body">
          <p class="card-text e"><b>TP-Link Modem Router VDSL/ADSL 300MB TD-W9960</b></p>
          <h3 class="card-text t"><b>400 ₪</b></h3>
        </div>
      </div>
      <div class="card" style="width: 13rem;">
        <img class="card-img-top" src="assets/card/4.jpg" alt="Card image cap">
        <div class="card-body">
          <p class="card-text e"><b>Samsung A52S 128/6G Mobile Phone Black</b></p>
          <h3 class="card-text t"><b>1450 ₪</b></h3>
        </div>
      </div>
      <div class="card" style="width: 13rem;">
        <img class="card-img-top" src="assets/card/5.jpg" alt="Card image cap">
        <div class="card-body">
          <p class="card-text e"><b>SMART Watch T500</b></p>
          <h3 class="card-text t"><b>80 ₪</b></h3>
        </div>
      </div>
      <div class="card" style="width: 13rem;">
        <img class="card-img-top" src="assets/card/6.jpg" alt="Card image cap">
        <div class="card-body">
          <p class="card-text e"><b>JeDEL KB-518 Multimedia Keyboard</b></p>
          <h3 class="card-text t"><b>40 ₪</b></h3>
        </div>
      </div>
      <div class="card" style="width: 13rem;">
        <img class="card-img-top" src="assets/card/7.jpg" alt="Card image cap">
        <div class="card-body">
          <p class="card-text e"><b>JeDEL KB-518 Multimedia Keyboard</b></p>
          <h3 class="card-text t"><b>100 ₪</b></h3>
        </div>
      </div>
      <div class="card" style="width: 13rem;">
        <img class="card-img-top" src="assets/card/9.jpg" alt="Card image cap">
        <div class="card-body">
          <p class="card-text e"><b>XPG S40G RGB M.2 2280 PCLe Gen3*4 512GB SSD</b></p>
          <h3 class="card-text t"><b>200 ₪</b></h3>
        </div>
      </div>
      <div class="card" style="width: 13rem;">
        <img class="card-img-top" src="assets/card/8.jpg" alt="Card image cap">
        <div class="card-body">
          <p class="card-text e"><b>Canon 6D Mark 2 Body Camera</b></p>
          <h3 class="card-text t"><b>5500 ₪</b></h3>
        </div>
      </div>
      <div class="card" style="width: 13rem;">
        <img class="card-img-top" src="assets/card/10.jpg" alt="Card image cap">
        <div class="card-body">
          <p class="card-text e"><b>Joystick Computer Vibrator L2000 Lanjue</b></p>
          <h3 class="card-text t"><b>30 ₪</b></h3>
        </div>
      </div>